.detail-page{
	display: flex;
	flex-direction: column;
	height: 100%;
	.header-bar{
		display: flex;
		flex: 0 0 70px;
		width: 100%;
		background-color: #1296db;
		align-items: center;
		justify-content: space-between;
		padding: 0 10px;
		box-sizing: border-box;
		.date-picker-wrapper{
			width: 140px;
			height: 50px;
			border-radius: 4px;
			background-color: #282c34;
			color: #fff;
			picker{
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			.icon{
				display: inline-block;
				width: 18px;
				height: 18px;
				position: relative;
				top: 4px;
				right: -2px;
				background: url("../../../static/images/triangle.png") no-repeat center center / 100%;
			}
		}
		.category-btns{
			width: 160px;
			display: flex;
			justify-content: space-between;
			.btn{
				width: 45%;
				height: 36px;
				display: flex;
				align-items: center;
				justify-content: center;
				color: #ebeef5;
				border-radius: 4px;
				box-sizing: border-box;
				border: 1px solid #282c34;
				&.active{
					background-color: #282c34;
					color: #fff;
				}
			}
		}
	}
	.list-wrapper{
		flex: 1;
		overflow-y: scroll;
		background-color: #ffffff;
		.item-day{
			.day-bar{
				height: 30px;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: space-between;
				// background-color: #0a6da1;
				padding: 0 10px;
				box-sizing: border-box;
				font-size: 12px;
				border-bottom: 1px solid #dcdfe6;
			}
			.item-list{
				width: 100%;
				box-sizing: border-box;
				.item{
					height: 46px;
					display: flex;
					align-items: center;
					padding-right: 10px;
					margin-left: 14px;
					border-bottom: solid 1px #dcdfe6;
					// background-color: #909399;
					box-sizing: border-box;
					font-size: 16px;
					&:last-child{
						border-bottom: none;
					}
					.category{
						display: flex;
						flex: 0 0 80px;
						height: 30px;
						align-items: center;
						justify-content: center;
						background-color: rgba(64,158,255,.1);
						border: 1px solid rgba(64,158,255,.2);
						color: #409eff;
						border-radius: 4px;
					}
					.remark{
						flex: 1;
						padding-left: 5px;
						color: #606266;
					}
					.rmb{
						flex: 0 0 60px;
						text-align: right;
					}
				}
			}
		}
		.null-tips{
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	.footer-bar{
		width: 100%;
		flex: 0 0 40px;
		background-color: #b7c2c2;
		line-height: 40px;
		text-align: center;
		.red{
			color: #df0e0e;
		}
		.green{
			color: #0a6da1;
		}
	}
}