.account-page{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  .jizhang-wrapper{
    flex: 1;
  }
  .bottom-wrapper{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 50px;
    .btn{
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ffffff;
      &.update-btn{
        background-color: #67c23a;
      }
      &.delete-btn{
        background-color: #f56c6c;
      }
    }
    .save-btn{
      width: 160px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      background-color: #1296db;
      color: #fff;
      margin: 0 auto;
      border-radius: 4px;
      margin-bottom: 20px;
    }
    .share-btn{
      width: 140px;
      height: 40px;
      line-height: 40px;
      font-size: 20px;
      margin-bottom: 10px;
    }
  }
}