.my-page{
	display: flex;
	flex-direction: column;
	height: 100%;
	background-color: #333131;
	padding-top: 10px;
	box-sizing: border-box;
	.user-info-wrapper{
		display: flex;
		// align-items: center;
		// justify-content: center;
		box-sizing: border-box;
		padding: 0 10px;
		.avatar{
			height: 80px;
			width: 80px;
			text-align: center;
			img{
				width: 100%;
				height: 100%;
				border-radius: 50%;
			}
		}
		.user-info {
			color: #ffffff;
			flex: 1;
			display: flex;
			flex-direction: column;
			padding-left: 10px;
			.nickName{
				font-size: 20px;
				position: relative;
				top: 10px;
			}
			.user-id{
				font-size: 14px;
				position: relative;
				top: 20px;
			}
		}
	}
	.list-wrapper{
		display: flex;
		flex-direction: column;
		margin-top: 20px;
		.item{
			height: 40px;
			background-color: #0a6da1;
			display: flex;
			align-items: center;
			justify-content: space-between;
			box-sizing: border-box;
			padding: 0 10px;
			margin-bottom: 20px;
			span{
				color: #fff;
				&.icon{
					display: inline-block;
					width: 20px;
					height: 20px;
					background: url("../../../static/images/enter.png") no-repeat center center / 100%;
				}
			}
		}
	}
	.login-btn{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		top: 0;
		background-color: rgba(0,0,0,0.6);
		display: flex;
		align-items: center;
		button{
			width: 140px;
			height: 60px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	.message-wrapper, .about-me{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		.mask{
			width: 100%;
			height: 100%;
			background-color: rgba(0,0,0,0.6);
			display: flex;
			align-items: center;
			justify-content: center;
			.content{
				width: 300px;
				height: 220px;
				background-color: #0fa13b;
				display: flex;
				flex-direction: column;
				padding: 10px;
				box-sizing: border-box;
				border-radius: 10px;
				.message-input{
					flex: 1;
					display: flex;
					flex-direction: column;
					align-items: center;
					span{
						color: #ffffff;
					}
					textarea{
						flex: 1;
						width: 80%;
						border: solid #03699c 1px;
						border-radius: 4px;
						padding-left: 10px;
						box-sizing: border-box;
						color: #ffffff;
						margin-top: 15px;
					}
				}
				.btns{
					flex: 0 0 50px;
					display: flex;
					justify-content: space-around;
					margin-top: 20px;
					.btn{
						width: 120px;
						height: 45px;
						display: flex;
						align-items: center;
						justify-content: center;
						border-radius: 4px;
						color: #ffffff;
						&.confirm{
							background-color: #1296db;
						}
						&.cancel{
							background-color: rgb(53, 56, 53);
						}
					}
				}
			}
			.about-content{
				display: flex;
				flex-direction: column;
				width: 250px;
				height: 100px;
				background-color: #a7adb1;
				color: #ffffff;
				border-radius: 10px;
				span{
					flex: 1;
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}
		}
	}
}